.header {
  background-color: #1f3539;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 25px;
}

li {
  display: flex;
  align-items: center;
  height: 25px;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Arial", sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
  color: #4d4c43;
  transform: scale(1.05);
}

button {
  background-color: white;
  color: #404941;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #74715b;
  color: #59775a;
}

.resonik {
  font-family: "Arial", sans-serif;
  font-weight: 550;
  font-size: 42px;
  text-align: center;
  color: #62808c;
  letter-spacing: 1.2px;
  margin: 20px 100px;
  text-transform: uppercase;
  transition: transform 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;
}

.resonik:hover {
  transform: scale(1.05);
  color: #6d858f;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding-left: 15px;
  }

  .resonik {
    display: none;
  }

  .ul {
    gap: 25px;
  }

  li {
    padding: 10px 8px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .resonik {
    display: none;
  }

  ul {
    gap: 25px;
  }
}
