/* Стили списка */
.ul {
  padding: 20px 0;
  width: 100%;
  background-color: #1f1f1f; /* Темный фон */
  display: flex;
  gap: 20px; /* Расстояние между элементами */
  justify-content: center; /* Центрирование элементов */
  margin: 0;
}

/* Стили элементов списка */
li {
  border: 1px solid rgba(255, 255, 255, 0.1); /* Легкая граница */
  list-style-type: none;
  border-radius: 8px; /* Скругленные углы */
  background: linear-gradient(
    135deg,
    rgba(50, 50, 50, 0.8),
    rgba(70, 70, 70, 0.8)
  ); /* Градиентный фон */
  padding: 10px 18px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif; /* Шрифт Roboto */
  color: #e0e0e0; /* Светлый текст */
  text-align: center;
  position: relative; /* Для псевдоэлементов */
  transition: all 0.3s ease; /* Плавный переход */
}

/* Эффект при наведении на li */
li:hover {
  background: linear-gradient(
    135deg,
    rgba(80, 80, 80, 0.9),
    rgba(100, 100, 100, 0.9)
  ); /* Светлый градиент */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Глубокая тень */
  transform: translateY(-3px); /* Легкое поднятие */
}

/* Стили ссылок */
.link {
  color: #d9d9d9; /* Светлый серый цвет текста */
  font-weight: 600;
  text-decoration: none; /* Убираем подчеркивание */
  position: relative; /* Для псевдоэлемента */
  display: inline-block; /* Для корректной работы псевдоэлемента */
  transition: color 0.3s ease; /* Плавный переход цвета */
}

/* Псевдоэлемент полоски */
.link::after {
  content: "";
  position: absolute;
  bottom: 0; /* Полоска снизу текста */
  left: 0;
  width: 0; /* Полоска скрыта изначально */
  height: 2px; /* Толщина полоски */
  background-color: #4f9b92; /* Цвет полоски */
  transition: width 0.3s ease; /* Плавное растяжение полоски */
}

/* Эффект при наведении на ссылку */
.link:hover::after {
  width: 100%; /* Полоска растягивается по ширине */
}

/* Медиа-запросы для планшетов */
@media (min-width: 600px) and (max-width: 900px) {
  .ul {
    gap: 40px; /* Увеличиваем расстояние между элементами */
  }
}

/* Медиа-запросы для компьютеров */
@media (min-width: 900px) {
  .ul {
    gap: 100px; /* Увеличиваем расстояние между элементами */
  }
}
