.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #1f3539,
    #3a4e50 30%,
    #6b7b7e 70%,
    #d6d6d6 100%
  );
}
