.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1f3539;
  padding: 20px;
  text-align: center;

  background: #6b7070;
  background-blend-mode: overlay;
}

.artistPhoto {
  width: 100%;
  max-width: 300px;
  height: auto;

  border-radius: 25%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.artistName {
  position: absolute; /* Убирает элемент из нормального потока */
  width: 1px; /* Минимальный размер */
  height: 1px; /* Минимальный размер */
  overflow: hidden; /* Скрывает содержимое */
  clip: rect(0, 0, 0, 0); /* Скрывает элемент визуально */
  white-space: nowrap; /* Предотвращает перенос текста */
  border: 0; /* Убирает рамки */
}

/* Ссылка на галерею */
.navLink {
  display: inline-flex; /* Убирает падинги, кнопка обнимает контент */
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid #ffffff; /* Тонкая белая рамка */
  border-radius: 50%; /* Круглая кнопка */
  width: 60px; /* Фиксированный размер кнопки */
  height: 60px; /* Фиксированный размер кнопки */
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navLink:hover {
  background-color: #ffffff;
  color: #1f3539;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.active {
  background-color: #ffffff;
  color: #1f3539;
  font-weight: 700;
}

/* Изображение внутри ссылки */
.navIcon {
  width: 40px; /* Размер иконки */
  height: 40px; /* Размер иконки */
  object-fit: cover; /* Корректное отображение изображения */
  transition: transform 0.3s ease;
}

.navLink:hover .navIcon {
  transform: scale(1.2); /* Увеличение иконки при наведении */
}

/* Адаптивность для планшетов */
@media (min-width: 600px) {
  .artistPhoto {
    max-width: 400px;
  }
  .navLink {
    width: 70px;
    height: 70px;
  }
  .navIcon {
    width: 50px;
    height: 50px;
  }
}

/* Адаптивность для компьютеров */
@media (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #1f3539;
    padding: 20px;
    text-align: center;
    background: #6b7070;
    justify-content: center;
    align-items: center;
  }

  .artistPhoto {
    max-width: 450px;
    height: 450px;
  }

  .navLink {
    width: 80px;
    height: 80px;
  }

  .navIcon {
    width: 60px;
    height: 60px;
  }
  .navList {
    display: flex;
    gap: 50px;
    flex-direction: column;
  }
}
